extends layout
include mixins/grid

block content
  div.container
    each movie, index in movies
      if index % 3 === 0
        div.row.gx-5.gy-5
          each movie2, index2 in movies.slice(index, index+3)
            +grid(movie2)
    else
      p nothing!
    