doctype html
html(lang="ko")
	head 
		title #{pageTitle} - someTube :: Day 10 of 43
		//- link(rel="stylesheet" href="https://unpkg.com/mvp.css")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
	body
		include partials/header.pug
		main
			block content